<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="camera_h_enabled" default="true"/>
  <arg name="use_effort" default="true"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="world_name" value="$(find husky_ur3_gazebo)/worlds/hakjunv5.world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find husky_ur3_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="camera_h_enabled" value="$(arg camera_h_enabled)"/>
    <arg name="use_effort" value="$(arg use_effort)"/>
    <arg name="x" value="-17"/>
    <arg name="y" value="26"/>
    <arg name="yaw" value="1.57"/>
  </include>

  <include file="$(find laser_filters)/examples/box_filter_example.launch"/>

</launch>
